#anibox1 {
  height: 60px;
  width: 100%;
  text-align: center;
  border: 2px gold ;
    animation: righttoleft 20s linear infinite;
    /*  background mein image dera hu aise dete hai  */
    background-image: url();

}


@keyframes righttoleft{

    from{
        transform: translateX(-100vw);
    }

    to{
        transform: translateX(100%);
    }

}
